.content{
    flex-direction: column;
}

/*Giving grey colour to placeholder text in dropdown menu*/
select:invalid{
    color:grey;
}


/* Giving each option in the dropdown box a colour of black*/
option{
    color:black;
}
.createQuizTitle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.descriptionDiv{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 6px;
    flex-direction: column;
}
.largeInput{
    display: flex;
    height: 100px;
    max-height: 200px;
    width: 100%;
    font-size: 20px;
    max-width: 60vw;
    margin: 10px;
    border-radius: 6px;
}

.quizTitle{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    border-radius: 6px;
}

.addQuestion{
    flex-direction: column;
    background-color: #f5f5f5;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
}

.questionTitle{
    width: 30%;
    margin: 20px;
    padding: 10px;
    font-size: 35px;
    border-radius: 6px;
}

.answerBoxInput{
    font-size: 20px;
    margin: 5px;
    border-radius: 6px;
}

.categorySelectionSection{
    display: flex;
    font-size: 20px;
}

.addIcon{
    display: flex;
    justify-content: space-evenly;
    height: 40px;

}

.addButtonSection{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    margin:20px;
}

.addQuestionButton{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.buttonContent{
    display: flex;
    justify-content: space-evenly;
}



/*Add option button styling*/
.addOptionButton {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: #000000; /* Adjust the color to match the blue/purple in your image */
    font-size: 16px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    margin-left: 40px;
}

/* Icon styling */
.addOptionButton .icon {
    font-size: 24px;
    margin-right: 8px; /* Space between the icon and text */
}

/* Add question button styling */
.addQuestionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Space between the icon and text */
    margin: auto;
}

  /* Icon styling */
.addQuestionButton .icon {
width: 20px;  /* Adjust based on the size of the icon */
height: 20px; /* Adjust based on the size of the icon */
display: inline-block;
}


