body{
    background-image: url(https://repository-images.githubusercontent.com/500426255/ff93b9e5-120e-4122-a727-d8c60f940a60);
    background-size: cover;
    
}
.heading{
    color: white;
    text-align: center;
    font-size: 65px;
    border: 10px;
    border-bottom: white;
}
.form{
    color: black;
    background-color: white;
    width: 50%;
    border-radius: 20px;
    text-align: center;
    margin: auto;

}
.form input{
    padding: 10px;
    margin-bottom: 5px;
    border-end-end-radius: 1px blue;
    border-radius: 4px;
    font-size: 15px;
    color: black;
    width: 70%;
    
}
.mybtn{
    background-color: blue;
    align-items: center;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}
.terms_con{
    color: blue;
}
