.content{
    flex-direction: column;
}

/* Quiz title and description*/

/*Giving grey colour to placeholder text in dropdown menu*/
select:invalid{
    color:grey;
}


/* Giving each option in the dropdown box a colour of black*/
option{
    color:black;
}
.createQuizTitle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.descriptionDiv{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 6px;
    flex-direction: column;
}
.largeInput{
    display: flex;
    height: 100px;
    max-height: 200px;
    width: 100%;
    font-size: 20px;
    max-width: 60vw;
    margin: 10px;
    border-radius: 6px;
}

.quizTitle{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    border-radius: 6px;
}
.categorySelectionSection{
    display: flex;
    font-size: 20px;
}









