

.logoText{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #000;
    line-height: 0.1em;
}

.logoText span{
    background-color:white;
    padding-left: 10px;
    padding-right: 10px;
}
.footFlex{
    display: flex;
    justify-content: space-around;
    padding: 0%;
}

.findUs{
    font-size: small;
    padding: 1%;
    width: 24%;
}

.findUsTitle{
    font-size: medium;
}

.internalLinks{
    font-size: small;
    padding: 1%;
    width: 24%;
}

.internalLinks ul{
    column-count: 2;
}

.internalLinksTitle{
    font-size: medium;
}

.removeBullets{
    list-style: none;
    padding: 0;
}

.newsletter{
    padding: 1%;
}

.newsletterTitle{
    font-size: medium;
}

.consentCheckbox{
    font-size: smaller;
}