.footFlex{
    display: flex;
    justify-content: space-around;
    padding: 0%;
    margin: 0%;
    border: 0%;
}

.findUsTitle{    /*Editing the appearance of the titles for each segment*/
    font-size: medium;
    margin: 0%;
    padding: 0%;
    line-height: 10px;
}

.internalLinksTitle{
    font-size: medium;
    margin: 0%;
    line-height: 10px;
}

.newsletterTitle{
    font-size: medium;
    margin: 0%;
    line-height: 10px;
}

.findUs{   /*Editing the appearance of the individual segments*/
    font-size: small;
    padding: 1%;
    width: 24%;
}

.internalLinks{
    font-size: small;
    padding: 1%;
    width: 24%;
}

.internalLinks ul{
    column-count: 2;  /*Making the links appear in 2 columns so it takes up less space vertically*/
}

.newsletter{
    padding: 1%;
}

.emailInput{
    margin-top: 3%;
}

.consentCheckbox{
    line-height: 0.5em;
    font-size: 0.6em;
    margin-top: 2%;
    margin-bottom: 2%;
}

.removeBullets{  /*removing bullet points from any chosen lists*/
    list-style: none;
    padding: 0;
}