.heading{
    color: white;
    text-align: center;
    font-size: 60px;
}
.login_form{
    width: 40%;
    border-radius: 20px;
    text-align: center;
    margin: auto;


    background-color: #FFFFFF; /* Sets the background colour to white */
    border: 0.25vw solid #000000; /* Sets border colour to black */
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;


}
.login_form input{
    padding: 10px;
    margin-bottom: 5px;
    border-end-end-radius: 1px blue;
    border-radius: 4px;
    font-size: 15px;
    color: black;
    width: 50%;

}
