.content{
    flex-direction: column;
}

/*Divider for the description section of the create quiz page*/
.descriptionDiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f5f5f5;
    border-radius: 6px;
    flex-direction: column;
}
.answerBoxStyle{
    display: flex; /* Sets the box to a flex box */
    background-color: #FFFFFF; /* Sets the background colour to white */
    border: 0.25vw solid #000000; /* Sets border colour to black */
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px; /* Sets the corners of the box to be rounded */
    width: 100px;
    height: 18px;
}
.checkbox {
    float: right;
    margin-left: 130px; /* creates space between label text and checkbox */
}
/*Quiz title class for h1 tag in the html page*/
.takingQuizTitle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* Dropdown menu to select the category*/
.displayCategory{
    display: flex;
    font-size: 20px;
}
/*the label area to input the description for the quiz that is being created*/
.description{
    height: 100px;
    max-height: 200px;
    width: 100%;
    font-size: 20px;
    max-width: 60vw;
    margin: 10px;
    border-radius: 6px;
}
/*the title for the quiz that is being created*/
.quizTitle{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    border-radius: 6px;
}
/*the title for the question*/
.questionTitle{
    width: 30%;
    margin: 20px;
    padding: 10px;
    font-size: 35px;
    border-radius: 6px;
}
.submitButton{
    width: 100px;
    display: flex;
    margin: auto;
}