<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/createacount.css">
</head>
<body>
    <h1 draggable="true" class="heading">QUIZIFY</h1>
    <section class="form">
        <form id="create_account" action="/create_account" method="post">
            <h2 class="form_heading">CREATE ACCOUNT</h2>
            <label for="name">Full Name</label><br>
            <input type="text" id="name" name="name" placeholder="You Full Name..."><br>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email" placeholder="Email Your EMail..."><br>
            <label for="password">password</label><br>
            <input type="password" id="password" name="password" placeholder="Create Your password..."><br>
            <label for="phone">Phone Number</label><br>
            <input type="tel" id="phone" name="phone" placeholder="Enter Your Phone Number...."><br>
            <input type="checkbox" id="terms" name="terms">
            <label for="terms">I agree to the <a href="#">Terms and Conditions</a></label><br>
            <button type="submit" id="submit" class="mybtn">SUBMIT</button>
        </form>
    </section>
   
    <script src="../static/javaScript/createaccount.js"></script>
</body>
</html>