<!DOCTYPE html>
<html>
    <head>
        <!--SEO optimisation-->
        <meta charset="UTF-8">
        <meta name = "viewport" content = 'width=device-width, initial scale = 1.0'>
        <link rel="stylesheet" href="/static/css/createQuiz.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Create quiz</title>
    </head>
    <!--put the navbar here somewhere-->
    <body>
        <main class="layout content">
            <h1 class="createQuizTitle">
                Create quiz
            </h1>
            <section class='descriptionDiv'>
                <!--Quiz title input-->
                <section>
                    <input class="quizTitle" type="text" placeholder="Quiz title">
                </section>
                <!--description input--> 
                <textarea class='largeInput' placeholder='Enter description here' type = 'text'></textarea>
                <section class="categorySelectionSection">
                    <!--label for drop down menu category-->
                    <label for = 'category'>Category:</label>

                    <!--drop down menu-->
                    <select required name = 'category' >
                        <option value="" disabled selected hidden>Select category</option>
                        <option value='generalKnowledge'>General knowledge</option>
                        <option value='scienceAndNature'>Science and nature</option>
                        <option value='history'>History</option>
                        <option value='popCulture'>Pop culture</option>
                        <option value='geography'>Geography</option>
                    </select>
                </section>    
            </section>

            <!--add question section-->
            <section class="addQuestion">
                <!--Question title input box-->
                    <input class='questionTitle' type="text" placeholder="Question title">

                <!--List of possible answers for the question-->
                <section class="answerBox">
                    <ul>
                        <li>
                            <input class = 'answerBoxInput' type="text" placeholder="Answer input">
                            <input type="checkbox">
                        </li>
                        <li>
                            <input class = 'answerBoxInput' type="text" placeholder="Answer input">
                            <input type="checkbox">
                        </li>
                        <li>
                            <input class = 'answerBoxInput' type="text" placeholder="Answer input">
                            <input type="checkbox">
                        </li>
                    </ul>
                    <!--Add option button to add options to the question-->
                    <button class="addOptionButton">
                        <span class="icon">+</span>
                        <span class="text">Add option</span>
                    </button>
                </section>
            </section>

            <!--Add question button-->
            <button class="button addQuestionButton">
                <img src="/static/plusIcon.png" alt="Add" class="icon">
                <span class="text">Add question</span>
            </button>

            <div class="submitButtonDiv">
                <input class='button submitButton' type="submit" value="Submit">
            </div>
        </main>
    </body>

</html>