<!DOCTYPE html>

<html lang = "eng">
    <head>
        <meta charset = "utf-8" lang = "eng">
        <title>Footer</title>
        <link rel = "stylesheet" href="../static/css/footerStyle.css">
    </head>

    <footer class="foot">
        <address class="findUs">
            <h1 class="findUsTitle">
                Find us
            </h1>
            <ul class="removeBullets">
                <li>
                    +44 7368 654 132
                </li>
                <li>
                    Beauly IV4 7LX
                </li>
                <li>
                    Mon-Fri 11am - 11:01am BST
            </ul>
        </address>
        <nav class="internalLinks">
            <h1 class="internalLinksTitle">
                Links
            </h1>
            <ul class="removeBullets">
                <li>
                    <a href="homePage.html">Homepage</a>
                </li>
                <li>
                    <a href="termsAndConditionsPage.html">Terms and conditions</a>
                </li>
                <li>
                    <a href="loginPage.html">Log in</a>
                </li>
                <li>
                    <a href="creatAccountPage.html">Create Account</a>
                </li>
            </ul>
        </nav>
    </footer>
</html>