<!DOCTYPE html>

<html lang = "eng">
    <head>
        <meta charset = "utf-8" lang = "eng">
        <title>Footer</title>
        <!-- Linking both the general stylesheet and footer specific sheet.
        Footer stylesheet comes second in order to overwrite the general where necessary-->
        <link rel = "stylesheet" href="../static/css/style.css"> 
        <link rel = "stylesheet" href="../static/css/footerStyle.css">
    </head>

    <footer class="foot">
        <section class="footFlex"> <!-- Encasing the footer content in a flex box for styling-->
            <address class="findUs">
                <!-- Creating a segment with information to be able to find/contact us-->
                <h1 class="findUsTitle">
                 Find us
                </h1>
                <ul class="removeBullets"> <!-- Set out as a UL to keep readability-->
                    <li>
                      +44 7368 654 132
                    </li>
                    <li>
                      Beauly IV4 7LX
                    </li>
                    <li>
                       Mon-Fri 11am - 11:01am BST
                    </li>
                </ul>
            </address>


            <nav class="internalLinks"> <!-- Segment for links within the website-->
                <h1 class="internalLinksTitle">
                    Links
                </h1>
                <!-- Set out as a UL again to keep consistent with footer layout
                as well as to show clear seperation between links-->
                <ul class="removeBullets">
                    <li>
                        <a href="/homePage">Homepage</a>
                    </li>
                    <li>
                        <a href="/termsAndConditions">Terms and conditions</a>
                    </li>
                    <li>
                        <a href="/loginPage">Log in</a>
                    </li>
                    <li>
                        <a href="/privacyPolicy">Privacy Policy</a>
                    </li>
                </ul>
            </nav>

            <form action="{{ url_for('subscribe')}}" method="POST" class="newsletter"> 
                <!-- Creating a newsletter form that posts
                the entered data into the database (NOT COMPLETED) -->
                <h1 class="newsletterTitle">Sign up to our newsletter:</h1>
                <section class="emailInput"> <!-- Section for user to enter email and recieve 
                    emails with information about any updates to the site-->
                    <label for="email">Email:
                    </label>
                    <input type="email" id="userEmail" name="userEmail" required
                    />
                </section>
                <section class="consentCheckbox"> <!-- Basic Checkbox to ensure the user consents to data collection-->
                    <label for="consent">"By continuing you consent to the collection and <br>
                        processing of your data in accordance with our Privacy Policy."
                    </label>
                    <input type="checkbox" id="consent" name="consent" required
                    />
                </section>
                <section class="submitButton">
                    <input type="submit" value="Subscribe"/>
                </section>
            </form>
            
        </section>
    </footer>
</html>