<!DOCTYPE html>
<html lang="en"> <!-- Sets the language to english-->
    <head> <!-- Begins the heading -->
        <meta charset="UTF-8"> <!-- Sets the character  encoding of the webpage -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Sets the width of the webpage -->
        <link rel="stylesheet" href="../static/css/style.css"> <!--References the css so that css can be used --> 
        <link rel="stylesheet" href="../static/css/homePage.css"> <!--References the css so that css can be used --> 
        <title>Quizify</title>
        <link rel="stylesheet" href="../static/css/navBar.css"> <!--References the css so that css can be used                      TO BE DELETED AND DONE PROPERLY-->
    </head>
    <!--                                                                                                                               TO BE DELETED AND DONE PROPERLY-->
    <nav class="navStyle fade-in"> <!-- Calls the class style and fade in so that they are implemented -->
        {% include 'navBar.html' %}
    </nav>
    <!--                                                                                                                               TO BE DELETED AND DONE PROPERLY-->
    <body class="style">
        <main class="layout content">
            <h1> Ready to create <br>your own quiz?</h1>
            <p><b> It's quick, easy and completely free. a simple way <br>to engage your audience or challenge your friends</p></b>
            <a class="homePageButton" href="createQuiz.html">Get started</a><br> <!-- Link to the Create Quiz page -->
            <img src="sdfsdfsdf" alt="Example"  height="100%" class="image boxStyle">
            <h2> From Teaching To Raising Awareness</h2>
            <p><b>Quizifi is an amazing tool for creating interactive quizzes that can educate, entertain, or raise awareness on any <br>
                topic you choose. Whether you're a teacher looking to make learning fun, a business aiming to engage your audience,<br>
                Quizifi makes it easy to build the perfect quiz in minutes. No coding, no hassle—just pure creativity!</b></p>
            <h1> Browse our most<br> popular quizzes</h1>
            <p><b>Discover ready-made quizzes that are fun, engaging, <br>and designed to test your knowledge or spark new ideas.</p></b>
            <a class="homePageButton" href="quizList.html">Open Quizzez</a><br> <!-- Link to the Quiz List apage -->
        </main>
    </body>
    <footer class="foot">
        <section class="footFlex"> <!-- Encasing the footer content in a flex box for styling-->
            <address class="findUs">
                <!-- Creating a segment with information to be able to find/contact us-->
                <h1 class="findUsTitle">
                 Find us
                </h1>
                <ul class="removeBullets"> <!-- Set out as a UL to keep readability-->
                    <li>
                      +44 7368 654 132
                    </li>
                    <li>
                      Beauly IV4 7LX
                    </li>
                    <li>
                       Mon-Fri 11am - 11:01am BST
                    </li>
                </ul>
            </address>


            <nav class="internalLinks"> <!-- Segment for links within the website-->
                <h1 class="internalLinksTitle">
                    Links
                </h1>
                <!-- Set out as a UL again to keep consistent with footer layout
                as well as to show clear seperation between links-->
                <ul class="removeBullets">
                    <li>
                        <a href="/homePage">Homepage</a>
                    </li>
                    <li>
                        <a href="/termsAndConditions">Terms and conditions</a>
                    </li>
                    <li>
                        <a href="/loginPage">Log in</a>
                    </li>
                    <li>
                        <a href="/privacyPolicy">Privacy Policy</a>
                    </li>
                </ul>
            </nav>

            <form action="" method="post" class="newsletter"> 
                <!-- Creating a newsletter form that posts
                the entered data into the database (NOT COMPLETED) -->
                <h1 class="newsletterTitle">Sign up to our newsletter:</h1>
                <section class="emailInput"> <!-- Section for user to enter email and recieve 
                    emails with information about any updates to the site-->
                    <label for="email">Email:
                    </label>
                    <input type="email" id="userEmail" name="userEmail" required
                    />
                </section>
                <section class="consentCheckbox"> <!-- Basic Checkbox to ensure the user consents to data collection-->
                    <label for="consent">"By continuing you consent to the collection and <br>
                        processing of your data in accordance with our Privacy Policy."
                    </label>
                    <input type="checkbox" id="consent" name="consent" required
                    />
                </section>
                <section class="submitButton">
                    <input type="submit" value="Subscribe"/>
                </section>
            </form>
            
        </section>
    </footer>
</html>
</DOCTYPE html>