<!DOCTYPE html>
<html lang="en"> <!-- Sets the language to english-->
    <head> <!-- Begins the heading -->
        <meta charset="UTF-8"> <!-- Sets the character  encoding of the webpage -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Sets the width of the webpage -->
        <link rel="stylesheet" href="../static/css/style.css"> <!--References the css so that css can be used --> 
        <link rel="stylesheet" href="../static/css/homePage.css"> <!--References the css so that css can be used --> 
        <title>Quizify</title>
        <link rel="stylesheet" href="../static/css/navBar.css"> <!--References the css so that css can be used                      TO BE DELETED AND DONE PROPERLY-->
    </head>
    <!--                                                                                                                               TO BE DELETED AND DONE PROPERLY-->
    <nav class="navStyle fade-in"> <!-- Calls the class style and fade in so that they are implemented -->
        {% include 'navBar.html' %}
    </nav>
    <!--                                                                                                                               TO BE DELETED AND DONE PROPERLY-->
    <body class="style">
        <main class="layout content">
            <h1 class="heading1"> Ready to create <br>your own quiz?</h1>
            <p><b> It's quick, easy and completely free. a simple way <br>to engage your audience or challenge your friends</b></p>
            <a class="homePageButton" href="createQuiz.html">Get started</a><br> <!-- Link to the Create Quiz page -->

            <div class="imagesContainer">
                <img class="categoryImage" src="/quizifyhackathon2/static/images/generalKnowledge.avif">
                <img class="categoryImage" src="/quizifyhackathon2/static/images/history.jpg">
                <img class="categoryImage" src="/quizifyhackathon2/static/images/politics.webp">
                <img class="categoryImage" src="/quizifyhackathon2/static/images/science.png">
            </div>
            
            <h2> From Teaching To Raising Awareness</h2>
            <p><b>Quizifi is an amazing tool for creating interactive quizzes that can educate, entertain, or raise awareness on any <br>
                topic you choose. Whether you're a teacher looking to make learning fun, a business aiming to engage your audience,<br>
                Quizifi makes it easy to build the perfect quiz in minutes. No coding, no hassle—just pure creativity!</b></p>
            <h1 class="heading1"> Browse our most<br> popular quizzes</h1>
            <p><b>Discover ready-made quizzes that are fun, engaging, <br>and designed to test your knowledge or spark new ideas.</p></b>
            <a class="homePageButton" href="quizList.html">Open Quizzez</a><br> <!-- Link to the Quiz List apage -->
        </main>
    </body>
    <footer>
        {% include 'footer.html' %}
    </footer>
</html>
