<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/loginpage.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/navBar.css">
</head>
<body>
    <nav class="navStyle fade-in"> <!-- Calls the class style and fade in so that they are implemented -->
        <a href="#homePage.html">Homepage</a> <!-- Link to the homepage -->
        <a href="#createQuiz.html">Create Quiz</a><!-- Link to the Create Quiz page -->
        <a href="#quizList.html">Quiz List</a><!-- Link to the homepage -->
        <a href="#createAccount.html">Create account</a><!-- Link to the Create Account page -->
        <a href="#LogIn.html">Log in</a><!-- Link to the HomePage -->
    </nav> <!-- Closing the nav div -->

    
    <h1 draggable="true" class="heading">QUIZIFY</h1>
    <section class="login_form">
        <form id="login" action="/login_page" method="post">
            <h2 class="loginform_heading">LOG IN</h2>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email" placeholder="Please Enter Your Email..."><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" placeholder="Please Enter Your Password"><br>
            <button type="submit" id="submit" class="btnn">LOG-IN</button>
        </form>





    </section>
    <script src="../static/javaScript/loginpage.js"></script>
</body>
</html>