<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/loginpage.css">
</head>
<body>
    <h1 draggable="true" class="heading">QUIZIFY</h1>
    <section class="login_form">
        <form id="login" action="/login_page" method="post">
            <h2 class="loginform_heading">LOG IN</h2>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email" placeholder="Please Enter Your Email..."><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" placeholder="Please Enter Your Password"><br>
            <button type="submit" id="submit" class="btnn">LOG-IN</button>
        </form>





    </section>
    <script src="../static/javaScript/loginpage.js"></script>
</body>
</html>