<!DOCTYPE html>
<html lang="en"> <!-- Sets the language to english-->
    <head> <!-- Begins the heading -->
        <meta charset="UTF-8"> <!-- Sets the character  encoding of the webpage -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Sets the width of the webpage -->
        <link rel="stylesheet" href="../static/css/style.css"> <!--References the css so that css can be used --> 
        <link rel="stylesheet" href="../static/css/navBar.css"> <!--References the css so that css can be used -->
    </head>
    <nav class="navStyle fade-in"> <!-- Calls the class style and fade in so that they are implemented -->
        <a href="homePage.html">
            <img src="../static/images/logo.webp" alt="Quizify logo" class="logo boxStyle">
        </a> <!-- Link to the homepage -->
        <a href="createQuiz.html">Create Quiz</a><!-- Link to the Create Quiz page -->
        <a href="quizList.html">Quiz List</a><!-- Link to the homepage -->
        <a href="createAccount.html">Create account</a><!-- Link to the Create Account page -->
        <a href="LogIn.html">Log in</a><!-- Link to the HomePage -->
    </nav>
</html>
</DOCTYPE>