<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/PrivacyAndPolicy.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1 class="heading">Privacy And Policy</h1>
    <p>
      1. Information We Collect<br>
        We collect several types of information from and about users of our Service, including:

        Personal Information: Information that identifies you personally, such as your name, email address, phone number, postal address, or payment information when you voluntarily provide it.

        Account Information: When you create an account, we collect username, password, and other related information.

        Usage Data: Information about your use of our Service, including details of your visits, traffic data, location data, and other communication data.

        Device Information: Data about the devices you use to access the Service, such as IP address, browser type, device type, and operating system.

        2. How We Use Your Information<br>
        We may use the information we collect from you for the following purposes:

        To Provide and Improve Our Service: To operate, maintain, and improve our services and user experience.

        Account Management: To manage your account, verify your identity, and ensure secure access.

        Communication: To send you updates, promotional information, or customer support messages related to your account.

        Personalization: To personalize content and recommendations based on your preferences and interests.

        Analytics and Research: To analyze usage trends and gather demographic information to improve the Service.

        Compliance: To comply with legal obligations, prevent fraud, and ensure security.

        3. Sharing of Information<br>
        We do not sell, rent, or trade your personal information to third parties. However, we may share your information in the following situations:

        Service Providers: We may share your information with third-party vendors and service providers that perform functions on our behalf, such as hosting services, payment processors, or analytics services.

        Legal Obligations: We may disclose your information if required to do so by law, in response to legal requests, or to protect our rights, privacy, safety, or property, and/or that of our users.

        Business Transfers: If we undergo a merger, acquisition, or sale of assets, your information may be transferred as part of that transaction.

        4. Data Retention<br>
        We retain your personal information only for as long as necessary to fulfill the purposes for which we collected it, including to satisfy any legal, accounting, or reporting requirements. When we no longer need your information, we will securely delete or anonymize it.



    </p>
    
</body>
</html>